.love-decor {
  height: 50px;
  width: 50px;
}
.main-div {
  background-image: linear-gradient(#ffeeee, #ffebeb, #ffc0bb);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-div {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 40%;
  height: 60%;
  border-radius: 10px;
  padding: 5px;
}
.each-emoji {
  display: flex;
  flex-direction: row;
}
h1 {
  font-family: Roboto;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
